body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  div {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #3498db;
    text-align: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  
  span {
    display: block;
  }
  
  input[type="checkbox"] {
    left: 0;
    top: 0;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #3498db;
    border: 2px solid #3498db;
  }
  
  input[type="checkbox"]:checked + label {
    color: #888;
    text-decoration: line-through;
  }
  
  /* Responsividade pelo amor de deus não apague*/
  @media screen and (max-width: 600px) {
    input[type="text"] {
      width: 100%;
    }
  }
  
